{% load static%}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8" >
    <title>MyData</title>
    
    <link rel="stylesheet" href="{% static 'UserProfile/css/my_data.css' %}">
</head>
<body>
    <div class="top">
        <a href="{% url 'feed'%}"><img src="{% static 'ProductFeed/images/logo.png' %}" class="logo"></a>
        <h1>
            <a href="{% url 'feed'%}" class="logo-title">
                OnlineShop
            </a>
        </h1>
    </div>
    
    <div class="button-container">
        <a href="{% url 'clothes'%}" class="cat-button">Одежда</a>
        <a href="{% url 'shoes'%}" class="cat-button">Обувь</a>
        <a href="{% url 'accessories'%}" class="cat-button">Аксессуары</a>
        <a href="" class="cat-button">Мужчинам</a>
        <a href="" class="cat-button">Женщинам</a>
        <div class="search-button-container">
            <input placeholder="Поиск" class="search-input">
            <button class="lupa-button">
                <img src="{% static 'ProductFeed/images/lupa.png' %}" height="40px">
            </button>
        </div>
        <button class="register-button"><a class="login-link" href="{% url 'profile'%}">Профиль</a></button>
        <button class="register-button"><a class="login-link" href="{% url 'logout'%}">Выйти</a></button>
    </div>
    <div class="main-container">
        <div class="points-container">
            <a class="point-links" href="{% url 'myData'%}">Мои данные</a>
            <a class="point-links" href="{% url 'trash'%}">Корзина</a>
            <a class="point-links" href="{% url 'like'%}">Избранное</a>
            <a class="point-links" href="{% url 'achievements'%}">Достижения</a>
            <a class="point-links" href="{% url 'profile'%}">Заказы</a>
            <a class="point-links" href="{% url 'reviews'%}">Отзывы</a>
        </div>
        <div class="data-container">
            <h3>Мои Данные</h3>
            <div class="name-container">
                <label for="lastname">Имя</label>
                <input type="text" id="lastname" name="lastname" value="{{request.user.last_name}}">
            </div>
            <div class="name-container">
                <label for="lastname">E-mail</label>
                <input type="text" id="lastname" name="lastname" value="{{request.user.email}}">
            </div>
            <div class="radio-group">
                <p class="gender">Пол</p>
                <label class="radio-container">Мужской
                    <input type="radio" checked="checked" name="gender" value="male">
                    <span class="checkmark"></span>
                  </label>
                  
                  <label class="radio-container">Женский
                    <input type="radio" name="gender" value="female">
                    <span class="checkmark"></span>
                  </label>
            </div>
            <div>
                <button class="save-btn"><a class="save-link" href="">Сохранить</a></button>
            </div>
            
        </div>
    </div>
    
    
</body>
</html>



