{% load static%}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8" >
    <title>MyData</title>

    <link rel="stylesheet" href="{% static 'UserProfile/css/my_data.css' %}">
</head>
<body>
    <div class="top">
        <a href="{% url 'feed'%}"><img src="{% static 'ProductFeed/images/logo.png' %}" class="logo"></a>
        <h1>
            <a href="{% url 'feed'%}" class="logo-title">
                OnlineShop
            </a>
        </h1>
    </div>

    <div class="button-container">
        <a href="{% url 'clothes'%}" class="cat-button">Одежда</a>
        <a href="{% url 'shoes'%}" class="cat-button">Обувь</a>
        <a href="{% url 'accessories'%}" class="cat-button">Аксессуары</a>
        <a href="" class="cat-button">Мужчинам</a>
        <a href="" class="cat-button">Женщинам</a>
        <button class="register-button"><a class="login-link" href="{% url 'profile'%}">Профиль</a></button>
        <button class="register-button"><a class="login-link" href="{% url 'logout'%}">Выйти</a></button>
        <button class="trash_button">
            <a href="{% url 'trash'%}"><img src="{% static 'ProductFeed/images/trash.png' %}" class="trash-img"></a>
        </button>
    </div>
    <div class="main-container">
        <div class="points-container">
            <a class="point-links" href="{% url 'myData'%}">Мои данные</a>
            <a class="point-links" href="{% url 'trash'%}">Корзина</a>
            <a class="point-links" href="{% url 'like'%}">Избранное</a>
            <a class="point-links" href="{% url 'achievements'%}">Достижения</a>
            <a class="point-links" href="{% url 'profile'%}">Заказы</a>
            <a class="point-links" href="{% url 'reviews'%}">Отзывы</a>
        </div>
        <div class="data-container">
            {% if messages %}
            <div class="messages">
                {% for message in messages %}
                <div class="alert alert-{{ message.tags }}">
                    {{ message }}
                </div>
                {% endfor %}
            </div>
            {% endif %}
            <h3>Мои Данные</h3>
            <form method="post">
                {% csrf_token %}

                <div class="name-container">
                    <label for="id_last_name">Имя</label>
                    {{ form.last_name }}
                </div>

                <div class="name-container">
                    <label for="id_email">E-mail</label>
                    {{ form.email }}
                </div>

                <div class="radio-group">
                    <p class="gender">Пол</p>
                    {% for radio in form.gender %}
                        <label class="radio-container">
                            {{ radio.choice_label }}
                            {{ radio.tag }}
                            <span class="checkmark"></span>
                        </label>
                    {% endfor %}
                </div>

                <div>
                    <button type="submit" class="save-btn">Сохранить</button>
                </div>
            </form>
        </div>
    </div>


</body>
</html>



