{% load static%}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8" >
    <title>Корзина</title>
    
    <link rel="stylesheet" href="{% static 'UserProfile/css/trash.css' %}">
</head>
<body>
    <div class="top">
        <a href="{% url 'feed'%}"><img src="{% static 'ProductFeed/images/logo.png' %}" class="logo"></a>
        <h1>
            <a href="{% url 'feed'%}" class="logo-title">
                OnlineShop
            </a>
        </h1>
    </div>
    
    <div class="button-container">
        <a href="{% url 'clothes'%}" class="cat-button">Одежда</a>
        <a href="{% url 'shoes'%}" class="cat-button">Обувь</a>
        <a href="{% url 'accessories'%}" class="cat-button">Аксессуары</a>
        <a href="" class="cat-button">Мужчинам</a>
        <a href="" class="cat-button">Женщинам</a>
        <div class="search-button-container">
            <input placeholder="Поиск" class="search-input">
            <button class="lupa-button">
                <img src="{% static 'ProductFeed/images/lupa.png' %}" height="40px">
            </button>
        </div>
        <button class="register-button"><a class="login-link" href="{% url 'profile'%}">Профиль</a></button>
        <button class="register-button"><a class="login-link" href="{% url 'logout'%}">Выйти</a></button>
    </div>
    <div class="main-container">
        <div class="points-container">
            <a class="point-links" href="{% url 'myData'%}">Мои данные</a>
            <a class="point-links" href="{% url 'trash'%}">Корзина</a>
            <a class="point-links" href="{% url 'like'%}">Избранное</a>
            <a class="point-links" href="{% url 'achievements'%}">Достижения</a>
            <a class="point-links" href="{% url 'profile'%}">Заказы</a>
            <a class="point-links" href="{% url 'reviews'%}">Отзывы</a>
        </div>
        <div class="trash-container">
            <h3>Корзина</h3>
            <div class="text-container">
                <h3>Корзина пока пустая</h3>
            </div>
            
        </div>
    </div>
    <h2>Рекомендуем</h2>
    <div class="clothes-container">
        {% for obj in all_title %}
            <div class="product">
                <a href="{{obj.get_absolute_url}}"><img class="image-photo" src="{{obj.photo.url}}"></a>
                <p>{{obj.brand}}</p>
                <p>{{obj.title}}</p>
                <p>{{obj.cost}}₽</p>
                <div class="button-heat-add">
                    <!-- <button class="add-in-trash2">Добавить в корзину</button> -->
                </div> 
            </div>
        {% endfor %}
    </div>
    
    
    
</body>
</html>



