{% load static%}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8" >
    <title>OnlineShop</title>
    
    <link rel="stylesheet" href="{% static 'ProductFeed/css/style.css' %}">
</head>
<body>
    <div class="top">
        <a href="{% url 'feed'%}"><img src="{% static 'ProductFeed/images/logo.png' %}" class="logo"></a>
        <h1>
            <a href="{% url 'feed'%}" class="logo-title">
                OnlineShop
            </a>
        </h1>
    </div>
    
    <div class="button-container">
        <a href="{% url 'clothes'%}" class="cat-button">Одежда</a>
        <a href="{% url 'shoes'%}" class="cat-button">Обувь</a>
        <a href="{% url 'accessories'%}" class="cat-button">Аксессуары</a>
        <div class="search-button-container">
            <input placeholder="Поиск" class="search-input">
            <button class="lupa-button">
                <img src="{% static 'ProductFeed/images/lupa.png' %}" height="40px">
            </button>
        </div>
        <button class="enter-button">Войти</button>
        <button class="trash-button"></button>
    </div>

    <h2>Популярное</h2>
    <div class="clothes-container">
        {% for obj in all_title %}
            <div class="product">
                <a href="#"><img class="image-photo" src="{{obj.photo.url}}"></a>
                <p>{{obj.brand}}</p>
                <p>{{obj.title}}</p>
                <p>{{obj.cost}}₽</p>
                <div class="button-heat-add">
                    <button class="add-in-trash">Добавить в корзину</button>
                </div>
                
            </div>
        {% endfor %}
    </div>
    <h2>Одежда</h2>
    <div class="clothes-container">
        {% for cl in all_clothes %}
            <div class="product">
                <a href="#"><img class="image-photo" src="{{cl.photo.url}}"></a>
                <p>{{cl.brand}}</p>
                <p>{{cl.title}}</p>
                <p>{{cl.cost}}₽</p>
                <button class="add-in-trash">Добавить в корзину</button>
            </div>
        {% endfor %}
    </div>
    <h2>Обувь</h2>
    <div class="clothes-container">
        {% for sh in all_shoes %}
            <div class="product">
                <a href="#"><img class="image-photo" src="{{sh.photo.url}}"></a>
                <p>{{sh.brand}}</p>
                <p>{{sh.title}}</p>
                <p>{{sh.cost}}₽</p>
                <button class="add-in-trash">Добавить в корзину</button>
            </div>
        {% endfor %}
    </div>
    <h2>Аксессуары</h2>
    <div class="clothes-container">
        {% for ac in all_accessories %}
            <div class="product">
                <a href="#"><img class="image-photo" src="{{ac.photo.url}}"></a>
                <p>{{ac.brand}}</p>
                <p>{{ac.title}}</p>
                <p>{{ac.cost}}₽</p>
                <button class="add-in-trash">Добавить в корзину</button>
            </div>
        {% endfor %}
    </div>
</body>
</html>



