{% load static%}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8" >
    <title>OnlineShop</title>
    
    <link rel="stylesheet" href="{% static 'ProductFeed/css/style.css' %}">
</head>
<body>
    <div class="top">
        <a href="{% url 'feed'%}"><img src="{% static 'ProductFeed/images/logo.png' %}" class="logo"></a>
        <h1>
            <a href="{% url 'feed'%}" class="logo-title">
                OnlineShop
            </a>
        </h1>
    </div>
    
    <div class="button-container">
        <a href="{% url 'clothes'%}" class="cat-button">Одежда</a>
        <a href="{% url 'shoes'%}" class="cat-button">Обувь</a>
        <a href="{% url 'accessories'%}" class="cat-button">Аксессуары</a>
        <a href="{% url 'male'%}" class="cat-button">Мужчинам</a>
        <a href="{% url 'female'%}" class="cat-button">Женщинам</a>
        <div class="search-button-container">
            <input placeholder="Поиск" class="search-input">
            <button class="lupa-button">
                <img src="{% static 'ProductFeed/images/lupa.png' %}" height="40px">
            </button>
        </div>
        {% if request.user.is_authenticated%}
        <button class="register-button"><a class="login-link" href="{% url 'profile'%}">Профиль</a></button>
        <button class="register-button"><a class="login-link" href="{% url 'logout'%}">Выйти</a></button>
        {% else %}
        <button class="enter-button"><a class="login-link" href="{% url 'login'%}">Войти</a></button>
        <button class="register-button"><a class="login-link" href="{% url 'register'%}">Регистрация</a></button>
        {% endif%}
    </div>

    <h2>Популярное</h2>
    <div class="clothes-container">
        {% for obj in all_title %}
            <div class="product">
                <a href="{{obj.get_absolute_url}}"><img class="image-photo" src="{{obj.photo.url}}"></a>
                {% for b in obj.brand.all %}
                <p>{{ b }}</p>
                {% endfor %}
                <p>{{obj.title}}</p>
                <p>{{obj.cost}}₽</p>
                {% if obj.is_premium%}
                <p><b class="premium">Premium</b></p>
                {% endif %}
            </div>
        {% endfor %}
    </div>
    <h2>Одежда</h2>
    <div class="clothes-container">
        {% for cl in all_clothes %}
            <div class="product">
                <a href="{{cl.get_absolute_url}}"><img class="image-photo" src="{{cl.photo.url}}"></a>
                {% for b in cl.brand.all %}
                <p>{{ b }}</p>
                {% endfor %}
                <p>{{cl.title}}</p>
                <p>{{cl.cost}}₽</p>
                {% if cl.is_premium%}
                <p><b class="premium">Premium</b></p>
                {% endif %}
                <!-- <button class="add-in-trash">Добавить в корзину</button> -->
            </div>
        {% endfor %}
    </div>
    <h2>Обувь</h2>
    <div class="clothes-container">
        {% for sh in all_shoes %}
            <div class="product">
                <a href="{{sh.get_absolute_url}}"><img class="image-photo" src="{{sh.photo.url}}"></a>
                {% for b in sh.brand.all %}
                <p>{{ b }}</p>
                {% endfor %}
                <p>{{sh.title}}</p>
                <p>{{sh.cost}}₽</p>
                {% if sh.is_premium%}
                <p><b class="premium">Premium</b></p>
                {% endif %}
                <!-- <button class="add-in-trash">Добавить в корзину</button> -->
            </div>
        {% endfor %}
    </div>
    <h2>Аксессуары</h2>
    <div class="clothes-container">
        {% for ac in all_accessories %}
            <div class="product">
                <a href="{{ac.get_absolute_url}}"><img class="image-photo" src="{{ac.photo.url}}"></a>
                {% for b in ac.brand.all %}
                <p>{{ b }}</p>
                {% endfor %}
                <p>{{ac.title}}</p>
                <p>{{ac.cost}}₽</p>
                {% if ac.is_premium%}
                <p><b class="premium">Premium</b></p>
                {% endif %}
            </div>
        {% endfor %}
    </div>
</body>
</html>



