{% load static%}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8" >
    <title>OnlineShop</title>

    <link rel="stylesheet" href="{% static 'ProductFeed/css/clothes.css' %}">
</head>
<body>
    <div class="top">
        <a href="{% url 'feed'%}"><img src="{% static 'ProductFeed/images/logo.png' %}" class="logo"></a>
        <h1>
            <a href="{% url 'feed'%}" class="logo-title">
                OnlineShop
            </a>
        </h1>
    </div>
    <div class="button-container">
        <a href="{% url 'clothes'%}" class="cat-button">Одежда</a>
        <a href="{% url 'shoes'%}" class="cat-button">Обувь</a>
        <a href="{% url 'accessories'%}" class="cat-button">Аксессуары</a>
        <div class="search-button-container">
            <input placeholder="Поиск" class="search-input">
            <button class="lupa-button">
                <img src="{% static 'ProductFeed/images/lupa.png' %}" height="40px">
            </button>
        </div>
        {% if request.user.is_authenticated%}
        <button class="register-button"><a class="login-link" href="{% url 'profile'%}">Профиль</a></button>
        <button class="register-button"><a class="login-link" href="{% url 'logout'%}">Выйти</a></button>

        {% else %}
        <button class="enter-button"><a class="login-link" href="#">Войти</a></button>
        <button class="register-button"><a class="login-link" href="#">Регистрация</a></button>
        {% endif%}
    </div>
    <div class="settings-clothes-container">
        <h2>Женщинам</h2>
        <div class="settings-clothes-inside-container">
            <button class="dropdown">Категории</button>
            <button class="dropdown">Цена</button>
            <button class="dropdown">Цвет</button>
            <button class="dropdown">Сезон</button>
        </div>

    </div>
    <div class="clothes-container">
        {% for cl in feeds %}
            <div class="product">
                <a href="{{cl.get_absolute_url}}"><img class="image-photo" src="{{cl.photo.url}}"></a>
                {% for b in cl.brand.all %}
                <p>{{ b }}</p>
                {% endfor %}
                <p>{{cl.title}}</p>
                <p>{{cl.cost}}₽</p>
                {% if cl.is_premium%}
                <p><b class="premium">Premium</b></p>
                {% endif %}
            </div>
        {% endfor %}
    </div>
</body>
</html>



