{% load static%}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8" >
    <title>OnlineShop</title>
    
    <link rel="stylesheet" href="{% static 'ProductFeed/css/product.css' %}">
</head>
<body>
    <div class="top">
        <a href="{% url 'feed'%}"><img src="{% static 'ProductFeed/images/logo.png' %}" class="logo"></a>
        <h1>
            <a href="{% url 'feed'%}" class="logo-title">
                OnlineShop
            </a>
        </h1>
    </div>
    
    <div class="button-container">
        <a href="{% url 'clothes'%}" class="cat-button">Одежда</a>
        <a href="{% url 'shoes'%}" class="cat-button">Обувь</a>
        <a href="{% url 'accessories'%}" class="cat-button">Аксессуары</a>
        <a href="" class="cat-button">Мужчинам</a>
        <a href="" class="cat-button">Женщинам</a>
        <div class="search-button-container">
            <input placeholder="Поиск" class="search-input">
            <button class="lupa-button">
                <img src="{% static 'ProductFeed/images/lupa.png' %}" height="40px">
            </button>
        </div>
        <button class="register-button"><a class="login-link" href="{% url 'profile'%}">Профиль</a></button>
        <button class="register-button"><a class="login-link" href="{% url 'logout'%}">Выйти</a></button>
    </div>
    <div class="clothes-container">
        {% for pr in product %}
        <div class="product">
            <a href="#"><img class="image-photo" src="{{pr.photo.url}}"></a>
        </div>
        <div class="title-brand-container">
            <p class="title">{{pr.title}}</p>
            <a class="brand-link" href="{{brand.get_absolute_url}}"><p class="brand">{{brand}}</p></a>
            <p class="cost">{{pr.cost}}₽</p>
            <p class="color">Цвет: {{pr.color}}</p>
            <div class="size-container">
                {% for s in sizes %}
                <p>{{s}}</p>
                {% endfor %}
            </div>
            <button class="add-in-trash">Добавить в корзину</button>
        </div>
        {% endfor%}
    </div>
    <h2>Рекомендуем</h2>
    <div class="clothes-container2">
        {% for obj in rec_feed %}
            <div class="product2">
                <a href="{{obj.get_absolute_url}}"><img class="image-photo2" src="{{obj.photo.url}}"></a>
                {% for b in obj.brand.all %}
                <p>{{ b }}</p>
                {% endfor %}
                <p>{{obj.title}}</p>
                <p>{{obj.cost}}₽</p>
                {% if obj.is_premium%}
                <p><b class="premium">Premium</b></p>
                {% endif %}
                <div class="button-heat-add">
                    <!-- <button class="add-in-trash2">Добавить в корзину</button> -->
                </div> 
            </div>
        {% endfor %}
    </div>
</body>
</html>



